<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> - <a target="_blank" href="https://www.facebook.com/stoXmodLK">stoXmod</a></p>
  </body>
</html>
